@import './base.css';

.horizontal {
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    width: 47%;
    height: 90%;
}

.main {
    position: absolute;
    left: 3%;
}

.side {
    position: absolute;
    right: 3%;
}

.bottom {
    position: absolute;
    top: 115%;
    left: 50%;
    width:  90%;
    height: 90%;
    transform: translateX(-50%);
    border: 8px var(--mainCollar) solid;
    overflow: hidden scroll;
}
.bottom::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.bottom::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--white);
}
.bottom::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--subcollar);
}

.camera-frame {
    position: relative;
    left: 50%;
    width:  80%;
    height: 55%;
    background: var(--mainCollar);
    transform: translateX(-50%);
}

.form-frame {
    position: relative;
    left: 50%;
    width:  90%;
    height: 40%;
    margin-top: 5%;
    transform: translateX(-50%);
    box-shadow: 0 0 0 5px var(--mainCollar) inset;
}

.graph-frame {
    position: relative;
    left: 50%;
    width:  80%;
    height: 55%;
    transform: translateX(-50%);
    border: 1px var(--black) solid;
}