@import './base.css';

.form {
    position: absolute;
    width:  70%;
    height: 95%;
    border: 5px var(--mainCollar) solid;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 2;
}
.form::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.form::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--white);
}
.form::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--subcollar);
}

.basket {
    position: relative;
    width: 90%;
    left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 150%;
    z-index: 1;
}
.basket input[type='number'] {
    text-align: center;
    display: inline;
    font-size: 80%;
    width: 40%;
}
.basket input[type='number']:focus {
	border: 1px solid var(--subcollar);
	box-shadow: 0 0 5px 1px var(--subcollar);
    outline: none;
}

.form-btn {
    position: absolute;
    right: 0%;
    width:  30%;
    height: 95%;
    border: 5px transparent solid;
    z-index: 1;
}